.jumbotron {
	/*background-color: yellow;*/
	color: black; 	
}

/*footer {
	padding: 10px 10px 0 10px;
	background-color: yellow;
	margin-bottom: 0px;
	margin-top: 10px;

}*/

.card-hotel {
	flex: 1 200px;
	padding: 2px 5px 2px 5px;
	margin-top: 10px
}

.btn-detalles {
	width: 100%;
	border-radius: 0px;
	/*position: absolute;
	left: 0;
	bottom: 0;*/
}

.footer-address-icon {
	padding-right: 10px;
}

.img-responsive{
    display: block;
    height: auto;
    max-width: 100%;
	margin:0 auto;
}

.tab-content {
	padding-top: 10px;
}

.carousel-control-next, .carousel-control-prev {
	background-color: transparent;
    border: 0px;
}
